<a href="https://colab.research.google.com/github/Himanshu-Tripathi-2101/Himanshu-Tripathi-2101/blob/main/List_comperehension_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question 01
Write a list comprehension to create a list of numbers from 0 to 9.
Output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list = [num for num in range(10)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#Question 02

Use a list comprehension to generate a list of squares of numbers from 1 to 5.
Output: [1, 4, 9, 16, 25]

In [6]:
Square_list = [x**2 for x in range (1,6)]
print(Square_list)

[1, 4, 9, 16, 25]

#Question 03

Write a list comprehension to get all even numbers between 1 and 10.
Output: [2, 4, 6, 8, 10]

In [8]:
even_list = [x for x in range (1,11) if x%2==0]
print(even_list)

[2, 4, 6, 8, 10]



#Question 04
  
Generate a list of the first letter of each word in the list ['apple', 'banana', 'cherry'].
Output: ['a', 'b', 'c']

In [9]:
first_leters = [word[0] for word in ['apple', 'banana', 'cherry']]
print(first_leters)

['a', 'b', 'c']

#Question 05

Create a list of lengths of each word in the list ['cat', 'lion', 'elephant'].
Output: [3, 4, 8]

In [12]:
length_list = [len(word) for word in  ['cat', 'lion', 'elephant']]
print(length_list)

[3, 4, 8]

#Question 06

Use list comprehension to generate a list of numbers divisible by 3 from 1 to 20.
Output: [3, 6, 9, 12, 15, 18]

In [13]:
three_divides = [num for num in range(1,21) if num % 3 ==0 ]
print(three_divides)

[3, 6, 9, 12, 15, 18]

#Question 07

Create a list comprehension that replaces every number divisible by 2 with 'even', and others with 'odd', in range 1 to 5.
Output: ['odd', 'even', 'odd', 'even', 'odd']

In [15]:
numbers_property = ["Even" if num % 2== 0 else "odd" for num in range(1,6)]
print(numbers_property)

['odd', 'Even', 'odd', 'Even', 'odd']

#Question 08
Write a list comprehension to flatten the list [[1, 2], [3, 4], [5, 6]].
Output: [1, 2, 3, 4, 5, 6]

In [16]:
input = [[1, 2], [3, 4], [5, 6]]
flatened = [item for row in input for item in row]
print(flatened)

[1, 2, 3, 4, 5, 6]

In [17]:
input = [[[1, 2], [3, 4]], [[5, 6],[7,8]]]
flatened = [item for sublist in input for row in sublist for item in row]
print(flatened)

[1, 2, 3, 4, 5, 6, 7, 8]

#Question 9
Generate a list of tuples representing a Cartesian product of [1, 2] and [3, 4].
Output: [(1, 3), (1, 4), (2, 3), (2, 4)]

In [22]:
l1= [1,2]
l2= [3,4]
product = [(m,n) for m in l1 for n in l2]
print(product)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [27]:
l1= [1,2]
l2= [3,4]
l3= [[8,7],[10,9]]
product = [(m,n,o) for m in l1 for n in l2 for rows in l3 for o in rows]
print(product)
print(len(product))

[(1, 3, 8), (1, 3, 7), (1, 3, 10), (1, 3, 9), (1, 4, 8), (1, 4, 7), (1, 4, 10), (1, 4, 9), (2, 3, 8), (2, 3, 7), (2, 3, 10), (2, 3, 9), (2, 4, 8), (2, 4, 7), (2, 4, 10), (2, 4, 9)]
16

#Question 10

Use a list comprehension to generate the first 10 Fibonacci numbers (Hint: Use a helper function).
Output: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [34]:
def fibonici(num):
  if num > 1:
    number = fibonici(num-2) + fibonici(num-1)
  elif num == 1:
    return 1
  else:
    return 0

  return number

fibonici_series = [fibonici(i) for i in range (10)]
print(fibonici_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#Question 11
Convert all the words in ['hello', 'world'] to uppercase using list comprehension.
Output: ['HELLO', 'WORLD']

In [36]:
lower_list =  ['hello', 'world']
upper_list= [char.upper() for char in lower_list]
print(upper_list)

['HELLO', 'WORLD']

#Question 12
Create a dictionary where the keys are numbers from 1 to 3 and the values are their squares.
Output: {1: 1, 2: 4, 3: 9}

In [41]:
square_dict = {a:a**2 for a in range(1,4)}
print(square_dict)

{1: 1, 2: 4, 3: 9}

#Question 13

Use list comprehension to find common elements between two lists [1, 2, 3] and [2, 3, 4].
Output: [2, 3]

In [43]:
l1 = [1,2,3]
l2 = [2,3,4]
common = [i for i in l1 if i in l2]
print(common)

[2, 3]

#Question 14

Write a set comprehension to find unique characters in the string 'abracadabra'.
Output: {'a', 'b', 'c', 'd', 'r'}

In [44]:
string = "abracadabra"
set= {char for char in string}
print(set)

{'b', 'a', 'c', 'r', 'd'}

#Question 15
Use list comprehension to transpose a 2D matrix [[1, 2], [3, 4]].
Output: [[1, 3], [2, 4]]

In [1]:
matrix = [[1, 2], [3, 4]]
transpose = [[row[i]for row in matrix]for i in range(len(matrix[0]))]
print(transpose)

[[1, 3], [2, 4]]

#Question 16
Write a list comprehension that applies the len() function to each word in ['dog', 'elephant', 'tiger'].
Output: [3, 8, 5]

In [2]:
animals = ['dog', 'elephant', 'tiger']
animal_len = [len(word) for word in animals]
print(animal_len)

[3, 8, 5]

#Question 17
Write a list comprehension to find all prime numbers between 1 and 20 (Hint: Use a helper function).
Output: [2, 3, 5, 7, 11, 13, 17, 19]

In [8]:
def prime(num):
  for i in range (2,num) :
    if num % i == 0:
      return ("non_prime")
  else:
       return ("prime")

prime_numbers = [num for num in range (2,21) if prime(num) == "prime"]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19]

#Question 18

Use list comprehension to remove duplicates from the list [1, 2, 2, 3, 4, 4, 5].
Output: [1, 2, 3, 4, 5]

In [10]:
duplicate_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = [list({num for num in duplicate_list})]
print(unique_list)

[[1, 2, 3, 4, 5]]

#Question 19

Write a nested list comprehension to generate the multiplication table (1-10).
Output: [[1, 2, 3, ..., 10], [2, 4, 6, ..., 20], ..., [10, 20, 30, ..., 100]]

In [11]:
table = [[num*i for i in range (1,11)]for num in range(1,11)]
print(table)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

#Question 20
Use a list comprehension to flatten a deeply nested list [[1, [2, 3]], [4, [5, 6]]] (Hint: Recursion or nested comprehensions).
Output: [1, 2, 3, 4, 5, 6]

In [17]:
nested_list = [[1, [2, 3]], [4, [5, 6]]]
flat_list = [num for row in nested_list for sublist in row for num in (sublist if isinstance(sublist, list) else [sublist])]
print(flat_list)

[1, 2, 3, 4, 5, 6]